<%- include('./partials/header.ejs') %>

    <div class="container">
        <div class=" ml-5 mt-5">
            <h1>Todo list Home</h1>
            <div class="d-flex ml-5 mt-5">
                <div>
                    <button class="btn btn-danger"><a href="/signup">Sign Up</a></button>
                </div>

                <div>
                    <button class="btn btn-danger"><a href="/login">Login</a></button>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>