<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/home.css">
        <title>Home || RobotodolistApp</title>
    </head>

    <body>

    </body>

</html>

<!-- <div class="container">
    <div class=" ml-5 mt-5">
        <h1>Todo list Home</h1>
        <div class="d-flex ml-5 mt-5">
            <div>
                <button class="btn btn-danger"><a href="/signup">Sign Up</a></button>
            </div>

            <div>
                <button class="btn btn-danger"><a href="/login">Login</a></button>
            </div>
        </div>
    </div>
</div> -->

<section class="hero">
    <header id="header">
        <a id="logo" href="#">Robotron</a>
    </header>

    <div class="hero-header">
        <center>
            <h1 class="hero-title">Hey there, welcome to my Fullstack todolist app!</h1>
            <a class="button button-white" href="/signup">Sign Up</a>
            <a class="button button-dark" href="/login">Login</a>
        </center>
    </div>

    <!-- <div class=".hero-btn">
        <a class="button button-primary" href="#">button one</a>
        <a class="button" href="#">button two</a>
    </div> -->
</section>