<%- include('./partials/header.ejs') %>
    <div class="container">
        <form action="/signup" class="form-control" method="post">
            <input type="text" name="userName" placeholder="Firstname here" required>
            <input type="email" name="userEmail" placeholder="Email here" required>
            <input type="password" name="userPassword" placeholder="Password here" required>
            <button type="submit" class="btn btn-danger">Sign Up</button>
        </form>
    </div>
    <%- include('./partials/footer.ejs') %>